
.wd-button-rounding {
    border-radius: 50px;
}

.wd-full {
    width: 100%;
}

.wd-search-bar {
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
    border-radius: 50px;
    margin: auto;
}

.font {
    font-size: 1vw;
}